p {
  font-size: 16px;
}

a {

}
Specific CSS for your home-page
#carouselExampleControls {
  border: #bbbbbb solid 1px;
  border-radius: 20px;
  margin: 40px;
}

.businesses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.swiper-wrapper {
}

.businesses_slide {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 300px;
  max-width: 656px;
  height: 414px;
  flex-direction: column;
  margin: 0 12px;
}

#businesses_cards {
  display: flex;
}

#businesses_container-card {
  padding: 20px;
  border: solid 1px #bbbbbb;
  height: 336px;
  width: 100%;
  min-width: 300px;
  max-width: 672px;
  border-radius: 30px;
}

#slide_card {
  flex-direction: column !important;
  margin: 0 8px;
  border-radius: 30px;
  justify-content: space-between;
}

.business-image {
  width: 100%;
  height: 50%;
  border-radius: 30px 30px 0 0;
}

#business_info {
  width: 100%;
  height: 50%;
}

.swiper-button-disabled{
  display:none;
}


.mostVisited {
  display: flex;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.business_cards {
  padding: 28px !important;
}

.swiper-slide.business_cards-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.business_cards-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 16px;
  text-align: initial;
  & .business_cards-description{
    height: 48px;
  }
  & h3 {
    font-size: 20px;
  }
  & p {
    color: #323232;
  }
}

.business_cards-description p{

  text-overflow: ellipsis;
  height: 52px;
  width: 100%;
  overflow: hidden;

}

.container-swiper {
  position: relative;
}


section {
  padding: 10%;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
  }

  .swiper-button-prev {
    left: 20px;
  }
}

.swiper-button-next, .swiper-rtl, .swiper-button-prev {
  color: #323232 !important;
}

.swiper-button-next {
  right: 48px !important;
}

.swiper-button-prev {
  left: 48px !important;
}

.business_cards-img img {
  border-radius: 8px 8px 0 0;
}
