Specific CSS for your home-page
#carouselExampleControls {
  border: #bbbbbb solid 1px;
  border-radius: 20px;
  margin: 40px;
}

.businesses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.businesses_slide {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 300px;
  max-width: 656px;
  height: 414px;
  flex-direction: column;
  margin: 0 12px;
}

#businesses_cards {
  display: flex;
}

#businesses_container-card {
  padding: 20px;
  border: solid 1px #bbbbbb;
  height: 336px;
  width: 100%;
  min-width: 300px;
  max-width: 672px;
  border-radius: 30px;
}

#slide_card {
  flex-direction: column !important;
  margin: 0 8px;
  border-radius: 30px;
  justify-content: space-between;
}

.business-image {
  width: 100%;
  height: 50%;
  border-radius: 30px 30px 0 0;
}

#business_info {
  width: 100%;
  height: 50%;
}

.swiper-button-disabled{
  display:none;
}


.mostVisited {
  display: flex;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
  }

  .swiper-button-prev {
    left: 20px;
  }
}
