.img-reserva{
  max-width: 50%;
  height: auto;
}

.reservation_index-card{
  display: flex;
  background-color: white;
  padding: auto;
  flex-direction: column;
  margin: 10px 0;
}

.reservation-info{
  display: flex;
  flex-direction: column;
}

.img-service{
  display: flex;
  flex-wrap: wrap;

}

.img-service-photo{
  margin: 0 20px;
  border-radius: 10px;
}

.img-reserva-view{
  max-width: 45%;
  height: auto;
}
