<div class="container text-center my-3">
  <h2 class="font-weight-light">Más Visitados</h2>
  <div class="row mx-auto my-auto justify-content-center" style="border-radius: 20px;" >
    <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active rounded">
          <% @businesses_most_visited.each do |visited| %>
            <div class="col-md-3">
              <div class="card m-2">
                <div class="card-img">
                  <% visited.photos.each_with_index do |photo, i| %>
                    <% if (i == 0) %>
                      <%= cl_image_tag photo.key, class: "img-fluid", style: "border-radius: 20px;", height: 300, width: 400, crop: :fill %>
                    <% end %>
                  <% end %>
                </div>
                <div>
                  <strong>
                    <%= visited.name %>
                  </strong>
                </div>
                <button type="button" class="btn btn-primary m-2"><%= link_to "Conocer Más", business_path(visited) %></button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
