<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
# Basado en el figma cree las variables, pueden usar @bars, @restaurants y @businesses_most_visited, los cuales muestran los 10 businesses que muestran más purchases, ya ustedes dirán si ajustamos ese número (10) a otro o si quieren mostrar algo diferente nos dicen
