<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">

  </head>
  <body>

  <div class="card" style="margin: 30px; text-align: center">
      <div class="container">
          <h1>Dar a conocer tu negocio mientras aumentas tus ingresos</h1>
          <p>Brindar experiencias unicas en <strong>2500 ciudades</strong> y <strong>192 paises</strong>.</p>
      </div>
      <div class="d-grid gap-2 mx-auto" style="margin: 30px; text-align: center">
          <% if !current_user %>
          <button type="button" class="btn btn-outline-primary"><%= link_to "Iniciar sesión", new_user_session_path %></button>
          <button type="button" class="btn btn-outline-success"><%= link_to "Registrase", new_user_registration_path %></button></a>
          <%end%>
      </div>
  </div>
  <div>
      <div class="container" style="max-width: 800px; margin: auto; padding: 16px;">
          <div class="row no-gutters">
              <div class="col-md-4" style="width: 1600px; margin: 100; padding: 16px; border-radius: 20px;">
                  <%= image_tag "people.jpg", class:"card-img"%>
              <div class="card">
                <div class="card-body">
                  <p>Brinda servicios y experiencias unicas de forma personaliza según tu oferta y disponibilidad, dando a conocer
                  tu negocio, creaciones propias, servicios gastronomicos o musicales para parejas o grupos, todo desde la misma aplicación</p>
                <button type="button" class="btn btn-outline-success btn-lg" style="border-radius: 20px; text-align: center">
                <%= link_to "Add my business", new_business_path %></button>
                </div>
              </div>
              </div>
              </div>
          </div>
          <div class="card-body" style="max-width: 800px; margin: auto; padding: 16px; text-align: center">
          <blockquote class="blockquote mb-0">
            <p>"Nuestras experiencias son una parte mayor de nosotros mismos..."</p>
            <footer class="blockquote-footer"><cite title="Source Title">Gilovich</cite></footer>
          </blockquote>
        </div>
      </div><br>
      <div class="row" style="border-radius: 20px; text-align: center">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body" style="border-radius: 20px; text-align: center">
              <h5 class="card-title">Ingresos</h5>
              <p class="card-text">Ganan en promedio $150.000 pesos por persona</p>
              <a href="#" class="btn btn-primary btn btn-warning" style="Two values - border-radius: 15px 50px">Conocer más</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body" style="border-radius: 20px; text-align: center">
              <h5 class="card-title">Reservas<br></h5>
              <p class="card-text">Tienen 17 reservas mas por día</p>
              <a href="#" class="btn btn-primary btn btn-warning">Conocer más</a>
            </div>
          </div>
        </div>
</div><br>
</body>
</html>
