.navbar-lewagon {
  justify-content: space-between;
  background: #A167FF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

#navbar__search {
  width: 288px;
  border-radius: 30px;
  background-color: white;
  align-items: center
}

#navbar__search input {
  background: none;
  border: none;
}
